# 프로그래밍 기초-자료형(1)

# 02-1 숫자형

In [6]:
a = 1

In [7]:
print(type(a))     #int=정수형

<class 'int'>

In [8]:
a = 1.23

In [9]:
print(type(a))     #float=실수형

<class 'float'>

사칙연산

In [10]:
a = 3
b = 4

In [11]:
print(a*b)  # 곱하기

12

In [12]:
print(a/b)  #나누기

0.75

In [ ]:
print(a ** b)  # 제곱

# 02-2 문자열 자료형

In [13]:
a = "Hello world"

In [14]:
print(type(a))     # str=문자열 자료형 (string)

<class 'str'>

여러 줄로 이루어져 있는 문자열

In [15]:
a = 'Life is too short \n You need python'   # \n=띄어쓰기

In [16]:
print(a)

Life is too short
 You need python

In [19]:
a = """Life is too short You need python"""  
# """"""를 사용하면 \n를 쓰지 않아도 된다

In [20]:
print(a)

Life is too short You need python

문자열 더해서 연결하기(concatenation)

In [30]:
a = "python"

In [31]:
b = " is fun!"

In [32]:
print(a+b)

python is fun!

In [33]:
print(a*10)  # 문자열과 숫자열의 곱은 가능함

pythonpythonpythonpythonpythonpythonpythonpythonpythonpython

In [34]:
print(a*b)  # string끼리의 계산할 수는 없음

TypeError: can't multiply sequence by non-int of type 'str'

인덱싱(indexing)

In [35]:
a = "Life is too short, You need Python"

In [36]:
print(a[0])

L

In [37]:
print(a[1])

i

In [38]:
print(a[-1])     # (-)가 붙으면 거꾸로 간다

n

- 각 글자에 인덱싱이 매겨져있어 숫자를 넣으면 그에 해당하는 값이 나옴
- 이떄, 파이썬은 0부터 숫자를 센다

슬라이싱(slicing) : 범위에 맞게 문자를 자른다
구조 = a [ 이상 : 미만 : 간격]

In [39]:
a = "Life is too short, You need Python"

In [40]:
print(a[0:4])

Life

In [45]:
a = "20010331Rainy"

In [46]:
print(a[:8])    # 범위에서 빈칸인 경우 무조건 처음부터 출력

20010331

In [47]:
print(a[8:])   # 8부터 시작해서 끝까지 출력

Rainy

In [48]:
a = "12345678"

In [49]:
print(a[1::2])

2468

참고) s[ : : -1 ]  # 처음부터 끝까지 뒤로 한칸씩 읽어라

문자열 포매팅(f)

In [50]:
a = "I eat %d apples."  %3

In [55]:
b = "I eat"+ str(3) + "apples"    #str(): 숫자형을 문자형으로 변환

In [56]:
print(a)

I eat 3 apples.

In [57]:
print(b)

I eat3apples

In [62]:
name = "int"

In [63]:
a = f"나의 이름은 {name}입니다"

In [64]:
print(a)

나의 이름은 int입니다

In [58]:
# 2개 이상의 숫자를 넣어야 하는 경우

number = 10
day = "three"
a = "I ate %d apples. so I was sick for %s days." % (number, day)

In [59]:
print(a)

I ate 10 apples. so I was sick for three days.

소수점 표현

In [60]:
a = "%0.4f" % 3.42134234      
# 소수점 몇번째 자리에서 자를지 이때, 0은 띄어쓰기자리수를 의미

In [61]:
print(a)

3.4213

문자열 개수 세기(count)

In [68]:
a = "hobby"

In [69]:
print(a.count('b'))  # hobby라는 글자에 b가 몇개 들어가 있는가

2

위치 알려주가(find)

In [70]:
a = "hobby"

In [71]:
print(a.find('b'))    # 가장 처음나온 b의 인덱싱을 출력

2

문자열 삽입(join)

In [74]:
a = ","

In [75]:
a.join('abcd')

'a,b,c,d'

In [72]:
a = ",".join(["a","b","c"])

In [73]:
print(a)

a,b,c

문자열 바꾸기(replace)

In [80]:
a = "Life is too short"

In [81]:
a.replace("Life", "Your leg")

'Your leg is too short'

문자열 나누기(split)

In [76]:
a = "Life is too short"

In [77]:
a.split()

['Life', 'is', 'too', 'short']

In [78]:
a = "a:b:c:d"

In [79]:
a.split(":")

['a', 'b', 'c', 'd']

In [83]:
a = "saaf-123-sgrt-123"

In [85]:
print(a.split("-")[2])

sgrt

# 02-3 리스트 자료형
-숫자자료와 문자자료를 섞어서 사용 가능함
-리스트 안에 리스트를 넣을 수 있음

a = []
b = [1,2,3]
c = ['Life','is','too','short']
d = [1,2,'Life','is']
e = [1,2,['Life','is']]

리스트의 인덱싱

In [87]:
a = [1,2,3]

In [88]:
a[0]

1

In [89]:
a[0]+a[2]

4

In [90]:
a[-1]  #(-)가 붙으면 역순

3

리스트 더하기 : 하나의 리스트가 생성
리스트 곱하기 : 곱한 숫자만큼 리스트의 반복
리스트 인수끼리의 더하기 가능

In [91]:
a = [1,2,3]
b = [4,5,6]

In [92]:
print(a+b)

[1, 2, 3, 4, 5, 6]

In [93]:
print(a*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

리스트에서 하나의 값 수정하기
리스트에서 연속된 범위의 값 수정하기: [ : ]사용

In [98]:
a = [1,2,3]

In [99]:
a[1:2] = ['a','b','c']

In [100]:
print(a)

[1, 'a', 'b', 'c', 3]

[]를 사용해 리스트 요소 삭제

In [94]:
a = [1, 'a', 'b', 'c', 3, 4]

In [95]:
a[1:3]=[]    # 값을 삭제하겠음

In [96]:
print(a)

[1, 'c', 3, 4]

리스트의 함수들
-리스트에 요소 추가(append) : 리스트의 마지막에 추가
-리스트 정렬(sort) :  문자는 알파벳, 한글 순서로/ 
                     숫자는 숫자의 크기순으로(오름차순정렬: 숫자 점점 커짐)
-리스트 뒤집기(reverse)
-위치 반환(index)
-리스트에 요소 삽입(insert) : 특정 위치에 삽입이 가능
-리스트에 요소 제거(remove) : 가장 처음의 것만 제거됨
-리스트 요소 끄집어내기(pop) : 리스트의 마지막 요소를 빼내기
-리스트에 포함된 요소 X의 개수 세기(count) : 리스트 안의 X의 개수 세기
-리스트 확장하기(extend) : 리스트 안에 숫자를 추가하여 리스트 늘이기

문장의 소문자를 대문자로 바꾸기-1) split, slicing, upper 사용
                                2) split, slicing, replace 사용

In [119]:
a = "i study python with jocoding"

In [120]:
a.split()[0]

'i'

In [121]:
print(a.split()[0].upper()+a[1:])

I study python with jocoding

In [123]:
print(a.split()[0].replace("i","I")+a[1:])

I study python with jocoding